.container {
  max-width: 900px; /* Aumentar a largura máxima para acomodar duas colunas */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 200px; /* Espaço entre as colunas */
}

.column {
  flex: 1;
  min-width: 300px; /* Largura mínima para responsividade */
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

.input, input[type="date"], input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
}

.button {
  display: inline-block;
  padding: 10px 17px;
  color: #ffffff;
  background-color: #b700ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: #ff00aa;
}

.listItem {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  color: #333333;
  border: 1px solid #dddddd;
  
}
